### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
### 目标厂商/产品（仅支持 Ralink RT3883/MT7620/MT7621/MT7628）
CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7621

### Target ProductID (board select, max 12 symbols)
### 目标产品 ID（板级选择，最多 12 个字符）
CONFIG_FIRMWARE_PRODUCT_ID="NEWIFI3"

CONFIG_32M_REBOOT_FIXUP=y

### Linux kernel and toolchain
### Linux 内核与工具链
CONFIG_FIRMWARE_INCLUDE_SFE=y

CONFIG_LINUXDIR=linux-4.4.x

############################################################
### Linux kernel configuration
### Linux 内核配置
############################################################

### Enable IPv6 support
### 开启 IPv6 支持
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Enable USB support
### 启用 USB 支持
CONFIG_FIRMWARE_ENABLE_USB=y

### Enable NTFS fs support via AVM ntfs driver
### NTFS 文件系统 AVM NTFS 驱动
CONFIG_FIRMWARE_INCLUDE_ANTFS=y

### Enable FAT/FAT32 filesystem support. ~0.1MB
### 启用 FAT/FAT32 文件系统支持. ~0.1MB
CONFIG_FIRMWARE_ENABLE_FAT=y

### Enable exFAT (FAT/FAT32 too) filesystem support. ~0.12MB
### 启用 exFAT（包含 FAT/FAT32）文件系统支持. ~0.12MB
CONFIG_FIRMWARE_ENABLE_EXFAT=y

### Enable EXT2 filesystem support. ~0.1MB
### 启用 EXT2 文件系统支持. ~0.1MB
CONFIG_FIRMWARE_ENABLE_EXT2=n

### Enable EXT3 filesystem support. ~0.2MB
### 启用 EXT3 文件系统支持. ~0.2MB
CONFIG_FIRMWARE_ENABLE_EXT3=n

### Enable EXT4 (EXT3/2 too) filesystem support. ~0.4MB
### 启用 EXT4（包含 EXT3/2）文件系统支持. ~0.4MB
CONFIG_FIRMWARE_ENABLE_EXT4=y

### Enable XFS filesystem support. ~0.6MB
### 启用 XFS 文件系统支持. ~0.6MB
CONFIG_FIRMWARE_ENABLE_XFS=y

### Enable FUSE (filesystems in userspace) support. ~0.1MB
### 启用 FUSE 用户态文件系统支持. ~0.1MB
CONFIG_FIRMWARE_ENABLE_FUSE=y

### Enable swap files/partitions support. ~0.05MB
### 启用 SWAP 交换分区/文件支持. ~0.05MB
CONFIG_FIRMWARE_ENABLE_SWAP=n

### Include UVC camera modules. ~0.2MB
### UVC 摄像设备模块. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_UVC=n

### Include USB-HID modules. ~0.2MB
### USB-HID 人体学接口设备模块. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_HID=n

### Include USB-Serial modules (e.g. pl2303). ~0.03MB
### USB-Serial 串口设备模块（e.g. pl2303）. ~0.03MB
CONFIG_FIRMWARE_INCLUDE_SERIAL=n

### Include USB-Audio modules. ~0.46MB
### USB-Audio 音频设备模块. ~0.46MB
CONFIG_FIRMWARE_INCLUDE_AUDIO=n

### Include XFRM (IPsec) modules & iptables extension. ~0.2MB
### XFRM（IPsec）网络安全协议内核模块. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_XFRM=n

### Include network QoS scheduling modules. ~0.2MB
### QoS 网络调度模块. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_QOS=n

### Include IMQ module for shapers (a bit of performance degradation). ~0.02MB
### IMQ 流量塑形模块（轻微影响性能）. ~0.02MB
CONFIG_FIRMWARE_INCLUDE_IMQ=n

### Include IFB module for shapers. ~0.03MB
### IFB 流量塑形模块. ~0.03MB
CONFIG_FIRMWARE_INCLUDE_IFB=n

### Include IPSet utility and kernel modules. ~0.4MB
### IPSet 实用程序和内核模块. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include NFSv3 server. ~0.6MB
### NFS 网络文件系统 v3 版本服务器. ~0.6MB
CONFIG_FIRMWARE_INCLUDE_NFSD=n

### Include NFSv3 client. ~0.5MB
### NFS 网络文件系统 v3 版本客户端. ~0.5MB
CONFIG_FIRMWARE_INCLUDE_NFSC=n

### Include CIFS (SMB) client. ~0.2MB
### CIFS（SMB）网络文件共享客户端. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_CIFS=y

############################################################
### Userspace configuration
### 用户空间配置
############################################################

### Include WebUI international resources. Increased firmware size
### 路由器网页界面语言选择
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y
#CONFIG_FIRMWARE_INCLUDE_LANG_BR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_CZ=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DA=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DE=y
#CONFIG_FIRMWARE_INCLUDE_LANG_ES=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FI=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_NO=y
#CONFIG_FIRMWARE_INCLUDE_LANG_PL=y
#CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
#CONFIG_FIRMWARE_INCLUDE_LANG_SV=y
#CONFIG_FIRMWARE_INCLUDE_LANG_UK=y

### Include NTFS-3G FUSE driver. ~0.4MB
### NTFS 文件系统 NTFS-3G 驱动. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=n

### Include LPR printer daemon. ~0.12MB
### LPR 打印程序. ~0.12MB
CONFIG_FIRMWARE_INCLUDE_LPRD=n

### Include USB-over-Ethernet printer daemon. ~0.05MB
### USB-over-Ethernet 打印程序. ~0.05MB
CONFIG_FIRMWARE_INCLUDE_U2EC=n

### Include "tcpdump" utility. ~0.6MB
### TCPdump 网络抓包工具. ~0.6MB
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y

### Include "hdparm" utility (allow set HDD spindown timeout and APM). ~0.1MB
### HDparm 硬盘高级电源管理（允许设置 HDD 减速超时和 APM）. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_HDPARM=n

### Include "parted" utility (allow make GPT partitions). ~0.3MB
### Parted 磁盘分区工具（允许创建 GPT 分区）. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_PARTED=y

### Include SMB3.6 (and WINS) server. ~1.5MB
### SMB 网络文件共享服务器 3.6 版本（包含 WINS）. ~1.5MB
CONFIG_FIRMWARE_INCLUDE_SMBD=y

### Include WINS server only. ~0.4MB
### WINS 微软网络名称转换服务器. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_WINS=n

### Include syslog for SMB and WINS server. ~0.3MB
### SMB 和 WINS 的系统日志. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=y

### Include FTP server. ~0.2MB
### FTP 文件传送协议服务器. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_FTPD=y

### Include alternative L2TP control client RP-L2TP. ~0.1MB
### L2TP 控制客户端 RP-L2TP. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_RPL2TP=n

### Include EAP-TTLS and EAP-PEAP authentication support. openssl ~1.2MB, wpa_supplicant +0.04MB
### 802.1X 扩展认证协议 EAP-TTLS 和 EAP-PEAP 支持. openssl ~1.2MB, wpa_supplicant +0.04MB
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y

### Include HTTPS support. openssl ~1.2MB
### 路由器网页界面 HTTPS 支持. openssl ~1.2MB
CONFIG_FIRMWARE_INCLUDE_HTTPS=n

### Include sftp-server. openssl ~1.2MB, sftp-server ~0.06MB
### SFTP 安全文件传送协议服务器. openssl ~1.2MB, sftp-server ~0.06MB
CONFIG_FIRMWARE_INCLUDE_SFTP=y

### Include dropbear SSH. ~0.3MB
### dropbear 网络安全外壳协议. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=n

### Make the dropbear symmetrical ciphers and hashes faster. ~0.06MB
### dropbear 对称密码和快速哈希. ~0.06MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=n

### Include OpenSSH instead of dropbear. openssl ~1.2MB, openssh ~1.0MB
### OpenSSH 网络安全外壳协议. openssl ~1.2MB, openssh ~1.0MB
CONFIG_FIRMWARE_INCLUDE_OPENSSH=y

### Include OpenVPN. IPv6 required. openssl ~1.2MB, openvpn ~0.4MB
### OpenVPN（需要 IPv6 支持）. openssl ~1.2MB, openvpn ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n

### Include StrongSwan. XFRM modules ~0.2MB, strongswan ~0.7MB
### StrongSwan 开源 IPsec 方案. XFRM modules ~0.2MB, strongswan ~0.7MB
CONFIG_FIRMWARE_INCLUDE_SSWAN=n

### Include Elliptic Curves (EC) to openssl library. ~0.1MB
### OpenSSL 椭圆曲线算法. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### Include "openssl" executable for generate certificates. ~0.4MB
### OpenSSL 可执行程序（用于生成证书）. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y

### Include xUPNPd IPTV mediaserver. ~0.3MB
### IPTV 多媒体 xUPNPd 服务器. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_XUPNPD=y

### Include Minidlna UPnP mediaserver. ~1.6MB
### Minidlna 多媒体 UPnP 服务器. ~1.6MB
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n

### Include Firefly iTunes mediaserver. ~1.0MB
### Firefly 多媒体服务器. ~1.0MB
CONFIG_FIRMWARE_INCLUDE_FIREFLY=n

### Include ffmpeg 0.11.x instead of 0.6.x for Minidlna and Firefly. ~0.1MB
### FFMPEG 多媒体解码库（Minidlna 和 Firefly 需要此库）. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_FFMPEG_NEW=n

### Include Transmission torrent. openssl ~1.2MB, transmission ~1.5MB
### BT 工具 Transmission. openssl ~1.2MB, transmission ~1.5MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n

### Include Transmission-Web-Control (advanced WebUI). ~0.8MB
### BT 工具 Transmission 网页界面. ~0.8MB
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=n

### Include Aria2 download manager. openssl ~1.2MB, aria2 ~3.5MB
### Aria2 下载工具. openssl ~1.2MB, aria2 ~3.5MB
CONFIG_FIRMWARE_INCLUDE_ARIA=n

### Include Aria2 WEB control. ~0.7MB
### Aria2 下载工具网页界面. ~0.7MB
CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=n

### Include cURL (HTTP/HTTPS/FTP client)
### cURL 网络数据传输命令行工具
CONFIG_FIRMWARE_INCLUDE_CURL=y

### Include SCUT Client
### scutclient 校园网
CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n

### Include GDUT-DRCOM
### Dr.com 校园网
CONFIG_FIRMWARE_INCLUDE_GDUT_DRCOM=n

### Include DogCom
### dogcom 校园网
CONFIG_FIRMWARE_INCLUDE_DOGCOM=n

### Include MiniEAP
### MiniEAP 锐捷认证
CONFIG_FIRMWARE_INCLUDE_MINIEAP=n

### Include NJIT-Client
### inode 校园网认证
CONFIG_FIRMWARE_INCLUDE_NJIT_CLIENT=n

### Include SoftEtherVPN Server
### SoftEtherVPN 服务器
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_SERVER=n

### Include SoftEtherVPN Client
### SoftEtherVPN 客户端
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CLIENT=n

### Include SoftEtherVPN Command Line Tools
### SoftEtherVPN 命令行
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CMD=n

### Include vlmcsd (KMS server emulator)
### vlmcsd 模拟 KMS 服务器
CONFIG_FIRMWARE_INCLUDE_VLMCSD=y

### Include ttyd (Web-based terminal)
### ttyd 网页版远程终端
CONFIG_FIRMWARE_INCLUDE_TTYD=y

### Include msd_lite, replaces udpxy
### msd_lite IPTV 组播代理（替代 udpxy）
CONFIG_FIRMWARE_INCLUDE_MSD_LITE=y

### Include lrzsz (ZMODEM file transfer)
### lrzsz 文件传输工具
CONFIG_FIRMWARE_INCLUDE_LRZSZ=n

### Include htop (interactive process viewer)
### Htop 系统监控与进程管理
CONFIG_FIRMWARE_INCLUDE_HTOP=y

### Include nano (simple text editor)
### nano 文本编辑器命令行工具
CONFIG_FIRMWARE_INCLUDE_NANO=y

### Include iperf3 (network bandwidth test tool)
### Iperf3 网络性能测试工具
CONFIG_FIRMWARE_INCLUDE_IPERF3=y

### Include dump1090 (ADS-B decoder)
### Dump1090 飞行轨迹
CONFIG_FIRMWARE_INCLUDE_DUMP1090=n

### Include RTL-SDR (software defined radio driver)
### RTL-SDR 软件无线电
CONFIG_FIRMWARE_INCLUDE_RTL_SDR=n

### Include mtr (My TraceRoute)
### Mtr 网络诊断工具
CONFIG_FIRMWARE_INCLUDE_MTR=n

### Include socat (multipurpose relay)
### Socat 多功能的网络工具
CONFIG_FIRMWARE_INCLUDE_SOCAT=n

### Include srelay (SOCKS proxy server)
### socks5 代理工具
CONFIG_FIRMWARE_INCLUDE_SRELAY=n

### Include MentoHUST (Huawei 802.1x client)
### mentohust 锐捷认证
CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n

### Include frpc (Fast Reverse Proxy client)
### frp 内网穿透客户端
CONFIG_FIRMWARE_INCLUDE_FRPC=n

### Include frps (Fast Reverse Proxy server)
### frp 内网穿透服务器
CONFIG_FIRMWARE_INCLUDE_FRPS=n

### Include redsocks
### redsocks TCP 流量重定向
CONFIG_FIRMWARE_INCLUDE_REDSOCKS=n

### Include Shadowsocks
### 包含 Shadowsocks 代理
CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y

### Include xray ~4.5M
### 包含 Xray 代理核心
CONFIG_FIRMWARE_INCLUDE_XRAY=y

### Include v2ray
### 包含 v2ray 旧版代理核心
CONFIG_FIRMWARE_INCLUDE_V2RAY=n

### Include trojan ~1.2M
### 包含 Trojan 代理
CONFIG_FIRMWARE_INCLUDE_TROJAN=y

### Include simple-obfs
### 包含 simple-obfs Shadowsocks 混淆插件
CONFIG_FIRMWARE_INCLUDE_SSOBFS=n

### Include sing-box
### 包含 sing-box 通用代理平台
CONFIG_FIRMWARE_INCLUDE_SINGBOX=n

### Include naiveproxy
### 包含 NaiveProxy 代理
CONFIG_FIRMWARE_INCLUDE_NAIVEPROXY=n

### Include adbyby plus+
### 包含 adbyby plus+ 广告过滤插件
CONFIG_FIRMWARE_INCLUDE_ADBYBY=n

### DNS Services
### DNS 服务相关
CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=n

CONFIG_FIRMWARE_INCLUDE_SMARTDNS=n

CONFIG_FIRMWARE_INCLUDE_ADGUARDHOME=n

### zerotier ~1.3M
### 包含 ZeroTier 虚拟组网工具
CONFIG_FIRMWARE_INCLUDE_ZEROTIER=n

CONFIG_FIRMWARE_INCLUDE_ALIDDNS=n

### ddnsto ~0.5M
### 包含 ddnsto 远程穿透服务
CONFIG_FIRMWARE_INCLUDE_DDNSTO=n

### ALDRIVER ~3m
### 包含阿里云盘 ALDRIVER 驱动
CONFIG_FIRMWARE_INCLUDE_ALDRIVER=n

CONFIG_FIRMWARE_INCLUDE_SQM=n

### wireguard 10k
### 包含 WireGuard VPN
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=n

### CPU Overclocking
### CPU 超频设置
CONFIG_FIRMWARE_INCLUDE_OC=n
### Clock Rate: 1000Mhz=0x312 1100Mhz=0x362 1120Mhz=0x372 1200Mhz=0x3B2
### 时钟频率设置：
CONFIG_FIRMWARE_MT7621_OC="0x312"
